#U367GameListOut{
    max-width: 500px;
    height: 430px;
    border-radius: 10px;
    border: 2px solid rgb(153, 255, 133);
    animation: U367changeM12 2s linear infinite;
}

@keyframes U367changeM12{
    50%{
        border: 2px solid rgb(228, 67, 67);
    }
    100%{
        border: 2px solid rgb(0, 255, 242);
    }
}

a{
    text-decoration: none;
}